<div class="container-fluid mt-5">
  <div class="row g-0">
    <div class="col-10 offset-1 col-md-8 offset-md-2 col-xxl-6 offset-xxl-3">
      <div class="row g-0">
        <div class="col-12 col-lg-6 d-flex flex-column">
          <div class="exa-localizacao text-start mt-4">
            Contact<br />
            Portfolio<br />
            About me<br />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row g-0">
    <div class="col-12 d-flex justify-content-end">
      <a (click)="gotop()" class="exa-no-td">
        <span class="exa-fo exa-gotop">
          <img class="exa-arrow" src="assets/icons/arrow-up.svg">
        </span>
      </a>
    </div>
  </div>
  <div class="row g-0">
    <div class="col-12">
     <!--  whatsapp -->
    </div>
  </div>
  <div class="row g-0">
    <div class="col text-center exa-version">
      By Eduardo Petrilli 2022 v0.1
    </div>
  </div>
</div>
