<div class="container">
  <div class="row">
    <div class="col-md-12 col-lg-4 offset-lg-4 mt-4">
      <h1 class="text-center">CALCULADORA IMC</h1>
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <div class="pf-bg-item" (click)="masculino()" [ngClass]="{'pf-sexoactive': sexo === 'M'}">
            <span class="pf-gend">Homem</span>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="pf-bg-item" (click)="femenino()" [ngClass]="{'pf-sexoactive': sexo === 'F'}">
            <span class="pf-gend">Mulher</span>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-lg-12">
              <p>Altura</p>
              <div class="pf-number">{{altura}}<span>cm</span></div>
              <input type="range" class="form-range custom-range w-100" id="customRange1" [(ngModel)]="altura" min="0"
                max="240">
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-lg-6 col-md-6">
              <p>Peso</p>
              <div class="pf-number">{{peso}}</div>
              <div>
                <i class="me-2 pf-adicionar" (click)="peso = peso - 1">-</i>
                <i class="pf-adicionar" (click)="peso = peso + 1">+</i>
              </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="pf-idade">
              <p>Idade</p>
              <div class="pf-number">{{idade}}</div>
              <div>
                <i class="me-2 pf-adicionar" (click)="idade = idade -1">-</i>
                <i class="pf-adicionar" (click)="idade = idade + 1">+</i>
              </div>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="pf-btn-calc col-lg-12">
          <button type="button" name="" id="" class="btn btn-primary btn-lg rounded-pill"
            (click)="calcularIMC()">CALCULAR</button>
        </div>
      </div>
      <div *ngIf="result" class="row mt-4">
        <label class="text-center col-12">{{result}}</label>
        <label class="text-center col-12">{{msg}}</label>
      </div>
    </div>
  </div>
</div>
